.listaDeBotones{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    flex-direction: column;
    list-style: none;
}

.globoDeTexto{
    font-size: 24px;
    justify-content: space-around;
    background-color: white;
    padding: 15px;

}

.botonesDeOpcion{
    font-size: 24px;
    color: white;
    justify-content: space-around;
    background-color: rgba(65,139,24,1.000);
    border-radius: 5px;
    padding: 15px;

}

.boton {
    font-weight: 600; /* Texto un poco más "gordito" */
    font-size: 20px;
    color: white;

    justify-content: space-around;
    background-color: #418B18;
    border-radius: 5px;
    padding: 15px;

    border: none;           
    outline: none;
    cursor: pointer;
    font-family: inherit;   
    appearance: none;

}

.boton:hover {
    transition: background 0.3s ease;
    background-color:  #2e6112;
}
