.top-header {
    background-color: #2f7dbd;
    color: white;

    height: 36px;
    padding: 0 1.5rem;

    display: flex;
    align-items: center;
    justify-content: space-between;

    overflow: hidden;
}

.top-header-left {
    display: flex;
    align-items: center;
    gap: 0.6rem;

    white-space: nowrap;
}

.header-item {
    font-size: 0.8rem;
    font-weight: 600;
    letter-spacing: 1px;
}

.emergency {
    color: #ffdddd;
}

.divider {
    opacity: 0.6;
}

.header-user {
    font-size: 0.9rem;
    font-weight: bold;
}