.search-container {
    position: relative;
    display: flex;
    align-items: center;
}

.search-input {
    width: 250px;
    padding: 8px 16px;

    border: 1px solid #ddd;
    border-radius: 25px;

    outline: none;
    transition: all 0.2s ease;
    font-size: 15px;
}

.search-input:focus {
    border-color: #1976d2;
}

.search-results {
    position: absolute;
    font-size: 15px;

    top: 100%;
    left: 0;

    width: 100%;

    background: white;
    border: 1px solid #ddd;

    list-style: none;

    margin: 0;
    padding: 0;

    border-radius: 10px;

    z-index: 1000;
}

.search-results li {
    padding: 10px;
}

.search-results li:hover {
    background-color: #f2f2f2;
}

.search-results a {
    color: black;
    text-decoration: none;
    display: block;
}