.layout-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* 100% del alto de la ventana del navegador */
}

.main-content {
  flex-grow: 1; /* Esto obliga al contenido a estirarse y tirar el footer al fondo */
}