
.historialTurnos-body{
    padding: 1.5rem 0;
    font-family:sans-serif;
}
/*
.estadoEmblema {
    display: inline-block;
    front-size: 10px;
    front-weight: 500;
    padding: 4px 10px;
    border-radius: 100px  //despues ajustar esto
}

.estadoEmblema-Ok{
    background: #e6f4ea;
    color: #1e7e34;
}

.estadoEmblema-Cancelado{
    background: #fce8e8;
    color: #a32d2d;
}
*/